<div>
    <h3 class="text-decoration-underline">Trending News</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-justify">
            <a href="" class="tn-link" target="_blank" >Indian Man, Daughter Killed In US Store Shooting, Left Gujarat 6 Years Back</a>
        </li>
        <li class="list-group-item text-justify">
            <a href="" class="tn-link" target="_blank" >Indian Man, Daughter Killed In US Store Shooting, Left Gujarat 6 Years Back</a>
        </li>
      </ul>
</div>
