<div class="w-100 bg-light p-3">
    <h3 class="logo">Main News</h3>
    <hr class="mn-hr">
    <div>
        <div class="row">
            <div class="col-4">
                <img class="rounded img-fluid" src="https://c.ndtvimg.com/2025-03/5q79nr4g_trade-war-reuters_625x300_04_March_25.jpeg?im=FeatureCrop,algorithm=dnn,width=250,height=188" alt="">
            </div>
            <div class="col-8">
                <a class="mn-link" href="" target="_blank"><h5>India To Drive 6% Of Global Trade Growth, 3rd After US, China: Report</h5></a>
                <p class="mn-time">Mar 23, 2025 12:18 pm IST | Asian News International</p>
                <p class="mn-content">The report highlighted that India was only the 13th largest participant in international trade in 2024, but its trade volume grew at a 5.2 per cent compound annual rate.</p>
            </div>
        </div>
        <hr class="mn-hr">
    </div>
</div>
